.navigation .logo{
    text-decoration: none;
    color: #00AF89;
    font-size: 14px;
}
.navigation .logo:hover{
    color: #ffffff;
}
.navigation .logo span{
    font-family: 'Pinyon Script', cursive;
    font-size: 45px;
    color: #ffffff;
    font-weight: 600;
}
.navigation a{
    text-decoration: none;
    margin-left: 25px;
    color: #ffffff;
    font-size: 18px;
}
.navigation a:hover{
    color: #00AF89;
    font-weight: 600;
}
.navbar-container{
    background-color: #15449B;
    margin: 0 0 -25px 0;
}