.login-components h3{
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
}
.login-form-container {
    display: flex;
    justify-content: space-around;
}
.login-form-container input{
    width: 350px;
    height: 55px;
    font-size: 18px;
    padding-left: 10px;
    border: 1px solid gainsboro;    
}
.login-form-container .submit-lonin{
    background-color: #15449B;
    color: #fff;
    font-weight: 500;
}
.login-form-container .submit-lonin:hover{
    background-color: #1AC8A2;
}
.login-form-container label{
    font-size: 24px;
    font-weight: 600;
    margin-left: 5px;
}
.login-form-container button{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    padding: 10px 65px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    background-color: #1C8EF9;
    border-radius: 5px;
    cursor: pointer;
}
.login-form-container button:hover{
    color: #fff;
}
.login-form-container h4{
    color: black;
    font-weight: 400;
    text-align: center;
}
.login-form-container a{
    text-decoration: none;
    color: #023998;
    font-weight: 500;
}
.login-components h5{
    text-align: center;
    font-size: 18px;
    margin: 10px;
}
.login-form-container .signinwithgoogle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 1px solid #c8c8c8;
    padding: 10px;
    color: #000;
    border-radius: 10px;
    margin-top: 0;
    cursor: pointer;
}
.login-form-container span{
    padding-left: 15px;
}
.login-form-container .signinwithgoogle:hover{
    color: #1C8EF9;
}
.social-log-in{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-log-in button{
    display: flex;
    align-items: center;
    border: none;
    background-color: rgba(192, 222, 251, 0.6);
    padding: 10px 80px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
}
.social-log-in button span{
    margin-left: 15px;
}
.social-log-in button:hover{
    background-color: #0F4298;
    color: #fff;
}
.social-log-in .singup-link{
    font-size: 15px;
    margin-top: 10px;
}
.social-log-in .forget-btn{
    background-color: #fff;
    color: #000;
}
.social-log-in .forget-btn:hover{
    background-color: #fff;
    color: #000;
}
.social-log-in{
    display: flex;
}